body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
    color: aqua;
}

li {
    color: yellow;
    font-size: larger;
}

li  p {
    color: white;
    font-size: medium;
    width: 75%;
}

#comment-box {
    width: 50%;
    height: 200px;
}

#article-banner {
    width: 100%;
    box-shadow: 0 0 8px 8px white ;
}

.list-image {
    width: 25%;
}